header {
    background-color: whitesmoke;
}

.logoContainer {
    height: 115px;
    max-width: 244px;
    background-color: white;
    padding: 40px 10px 10px;
    z-index: 999;
}

header .navbar {
    display: flex;
    list-style-type: none;
}

header .navbar li {
    text-align: center;
}

#mpcLogo {
    width: 100%;
}