#subFooter {
    background-color: #444;
    color: #F9F9F9;
    padding: 45px 0px;
}
.category {
    color: #4D762D;
    font-family: Lato,sans-serif;
    font-weight: 900!important;
    font-size: 14px;
    text-transform: uppercase;
}

#subFooter a {
    font-size: 14px;
}

.child i {
    float: right;
    height: 13px;
    margin-left: 8px;
    margin-top: 3px;
    width: 18px;
    opacity: .5;
}

.child {
    flex-grow: 1;
}

.right {
    margin-left: 2em;
}